html {
  background-color: #333333;
  color: #ddd;
}

// jQuery Mobile Overrides

// Hide the number input on sliders
.ui-slider input {
  display: none;
}
.ui-slider .ui-slider-track {
  margin-left: 15px;
}