$input-color-1: #666;
$input-color-2: #aaa;
$input-color-3: #ddd;
$input-color-active: #98c0dd;

.input-container{
  position: absolute;

  //TODO: borderbox
//  margin: 0.2em;
//  padding: 1em;
}

.input{
  position: relative;

  height: 100%;
  width: 100%;

  text-align: center;
  cursor: crosshair;

  border: 2px solid $input-color-1;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


[disable-holder][disabled]{
  opacity: 0.6;
  background-color: $input-color-3;
  cursor: default;
}


// import all the modules here
@import "module_button";
@import "module_slider";
@import "module_xy-pad";