.slider{

  .input{

  }

  .progress{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;

    background-color: $input-color-2;
  }

  .active {

    .progress{
      background-color: $input-color-active;
      color: $input-color-3;
    }
  }
}