@mixin tkvr-indicator-transition(){
  transition-property: width, height, margin, box-shadow, background-color;
  transition-duration: 0.125s;
  transition-timing-function: ease-out;
}
@mixin tkvr-indicator-foreign-transition(){
  transition-property: left, top, right, bottom;
  transition-duration: 0.125s;
  transition-timing-function: ease-out;
}