#tkvr{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;


  font-size: 1vw;

//  @media screen and (orientation:portrait) {
//    font-size: 1vw;
//  }
//  @media screen and (orientation:landscape) {
//    font-size: 1vh;
//  }

  line-height: 1;

  font-family: "courier new", courier, monospace;

  background-color: $tkvr-dark;
  color: $tkvr-light;

  a{
    color: $tkvr-highlight;
  }

}