@mixin tkvr-stretch-full(){
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin tkvr-stretch-with-padding($padding){
  position: absolute;
  top: $padding;
  right: $padding;
  bottom: $padding;
  left: $padding;
}