@import "normalize";


//Colors
//TODO: colors.scss

$tkvr-dark: #444;
$tkvr-light: #999;
$tkvr-highlight: #dca40e;
$tkvr-active: #ffd500;


/**
 * START OF INDIVIDUAL STYLES
 */
@import "index";
@import "view-module";
@import "module";