.input-container{
  position: absolute;
}

.input{
  @include tkvr-stretch-full;
  cursor: crosshair;
//  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.enabled{
//    border-color: $tkvr-enabled;
  }
  &.disabled{
//    border-color: $tkvr-disabled;
    cursor: default;
  }
  &.active{
//    border-color: $tkvr-highlight;
  }

  .label{
    display: none;
  }

}


// import all the modules here
@import "module_button";
@import "module_slider";
@import "module_xy-pad";