.xy-pad{

  border-color: $tkvr-border-clr;
  border-width: $tkvr-input-border-width;
  border-style: dashed;
  box-sizing: border-box;

  .input{
    @include tkvr-stretch-with-padding($tkvr-input-indicator-size-enabled/2);
  }

  .indicator{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $tkvr-light;
    border-radius: 50%;
    @include tkvr-shadow;
    @include tkvr-indicator-transition;

  }

  .enabled{
    .indicator{
        background-color: $tkvr-enabled;
      @include tkvr-indicator-size($tkvr-input-indicator-size-enabled);
    }
  }
  .disabled{
    .indicator{
        background-color: $tkvr-disabled;
      @include tkvr-indicator-size($tkvr-input-indicator-size-disabled);
    }
  }
  .active {
    .indicator{
      background-color: $tkvr-highlight;
      @include tkvr-indicator-size($tkvr-input-indicator-size-active);
    }
  }
}