.button{
  background-color: $tkvr-dark;

  .input{
    border-radius: $tkvr-input-border-radius;
  }

  .overflow-hidden{
    border-radius: $tkvr-input-border-radius;
  }

  .enabled{
    background-color: $tkvr-enabled;
    @include tkvr-stretch-with-padding(2em);
    @include tkvr-shadow;
    z-index: 100;
  }
//  .disabled{
//    background-color: $tkvr-disabled;
//    @include tkvr-stretch-with-padding(3em);
//    box-shadow: none;
//  }
  .occupied, .disabled{
    background-color: $tkvr-light;
    @include tkvr-stretch-with-padding(3em);
    box-shadow: none;
  }
  .active{
    background-color: $tkvr-highlight;
    @include tkvr-shadow-active;
    @include tkvr-stretch-with-padding(1em);
  }


  .indicator{
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 50%;
//    @include tkvr-indicator-holo($tkvr-light, 0);
    background-color: tkvr-holo-color($tkvr-light);
    @include tkvr-indicator-transition;
    //TODO: some css animation letting it grow and grow and grow...
    //TODO: some css animation letting it fade out...
  }

  .active .indicator{
    height: $tkvr-input-indicator-size-holo;
    width: $tkvr-input-indicator-size-holo;
    margin-left: -$tkvr-input-indicator-size-holo/2;
    margin-top: -$tkvr-input-indicator-size-holo/2;
//    @include tkvr-indicator-holo($tkvr-light, 20em)
  }

}