.slider {

  // container styles?

  .input {
    @include tkvr-stretch-with-padding(5%)
  }

  .horizontal:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: $tkvr-input-border-width;
    margin-top: - $tkvr-input-border-width/2;
    background-color: $tkvr-border-clr;
  }

  .vertical:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: $tkvr-input-border-width;
    margin-left: - $tkvr-input-border-width/2;
    background-color: $tkvr-border-clr;
  }

  .indicator {
    position: absolute;
    background-color: $tkvr-light;
    border-radius: 50%;
    @include tkvr-shadow;
    @include tkvr-indicator-transition;
  }

  .horizontal .indicator{
    top: 50% !important; // could be set in element style
    left: 0;
    margin-top: - $tkvr-input-indicator-size-enabled/2;
  }

  .vertical .indicator {
    top: 100%;
    left: 50% !important; // could be set in element style
    margin-left: -$tkvr-input-indicator-size-enabled/2;
  }

  .enabled {
    .indicator{
      background-color: $tkvr-enabled;
      @include tkvr-indicator-size($tkvr-input-indicator-size-enabled);
    }
  }
  .disabled {
    .indicator{
      background-color: $tkvr-disabled;
      @include tkvr-indicator-size($tkvr-input-indicator-size-disabled);
    }
  }
  .foreign-used{
    .indicator {
      background-color: $tkvr-light;
      @include tkvr-indicator-size($tkvr-input-indicator-size-disabled);
      @include tkvr-indicator-foreign-transition;
    }
  }
  .active {
    .indicator{
      background-color: $tkvr-highlight;
      @include tkvr-indicator-size($tkvr-input-indicator-size-active);
      @include tkvr-shadow-active;
//      @include tkvr-indicator-holo($tkvr-highlight, $tkvr-input-indicator-size-holo);
    }
  }
}

