.slider{

  .input{
    box-shadow: 0 0 0 3px $tkvr-light inset;
  }

  .indicator{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: $tkvr-light;
  }

  .active {
    .indicator{
      background-color: $tkvr-highlight;
    }
  }
  .enabled{
    background-color: $tkvr-enabled;
  }
  .disabled{
    background-color: $tkvr-disabled;
  }
}

