.xy-pad{

  .input{
  }

  .indicator{
    position: absolute;
    left: 0;
    right: 100%;
    top: 100%;
    bottom: 0;

    background-color: $input-color-light;
  }

  .active {

    .indicator{
      background-color: $input-color-active;
      color: $input-color-highlight;
    }
  }
}