$input-color-dark: $tkvr-dark;
$input-color-light: $tkvr-light;
$input-color-highlight: $tkvr-highlight;
$input-color-active: $tkvr-active;

.input-container{
  position: absolute;

  //TODO: borderbox
//  margin: 0.2em;
//  padding: 1em;
}

.input{
  position: relative;

  height: 100%;
  width: 100%;

  text-align: center;
  cursor: crosshair;

  box-sizing: border-box;
  border: 2px solid $input-color-light;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


[disabled="true"]{
  opacity: 0.6;
  background-color: $input-color-light;
  cursor: default;
}


// import all the modules here
@import "module_button";
@import "module_slider";
@import "module_xy-pad";