.slider {

  .input {
    box-shadow: 0 0 0 3px $tkvr-light inset;
  }

  .indicator {
    position: absolute;
    background-color: $tkvr-light;

    // do mixin
    width: $tkvr-input-indicator-size-enabled;
    height: $tkvr-input-indicator-size-enabled;
    margin-right: - $tkvr-input-indicator-size-enabled/2;
    margin-top: - $tkvr-input-indicator-size-enabled/2;

    border-radius: 50%;
  }

  .horizontal .indicator{
    right: 100%;
    top: 50%;
    margin-top: - $tkvr-input-indicator-size-enabled/2;
  }

  .vertical .indicator {
    top: 100%;
    left: 50%;
    margin-left: -$tkvr-input-indicator-size-enabled/2;
  }

  .enabled {
    .indicator{
      background-color: $tkvr-enabled;
    }
  }
  .disabled {
    .indicator{
      background-color: $tkvr-disabled;
    }
  }
  .active {
    .indicator{
      background-color: $tkvr-highlight;
    }
  }
}

