.button{
  background-color: $tkvr-dark;

  .input{
    box-shadow: 0 0 0 3px $tkvr-light inset;
  }

  .enabled{
    background-color: $tkvr-enabled;
  }
  .disabled{
    background-color: $tkvr-disabled;
  }
  .active{
    background-color: $tkvr-highlight;
  }

}