.button{
  background-color: $tkvr-dark;

  .input{
    @include tkvr-stretch-with-padding(1em);
    @include tkvr-shadow;
    overflow: hidden;
  }

  .enabled{
    background-color: $tkvr-enabled;
  }
  .disabled{
    background-color: $tkvr-disabled;
  }
  .occupied{
    background-color: $tkvr-light;
  }
  .active{
    background-color: $tkvr-highlight;
    @include tkvr-shadow-active;
  }


  .indicator{
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 50%;
//    @include tkvr-indicator-holo($tkvr-light, 0);
    background-color: tkvr-holo-color($tkvr-light);
    @include tkvr-indicator-transition;
    //TODO: some css animation letting it grow and grow and grow...
    //TODO: some css animation letting it fade out...
  }

  .active .indicator{
    height: $tkvr-input-indicator-size-holo;
    width: $tkvr-input-indicator-size-holo;
    margin-left: -$tkvr-input-indicator-size-holo/2;
    margin-top: -$tkvr-input-indicator-size-holo/2;
//    @include tkvr-indicator-holo($tkvr-light, 20em)
  }

}