// xy-pad
// input module

.xy-pad{

  .border{
    border-color: $tkvr-border-clr;
    border-width: $tkvr-input-border-width;
    border-style: solid;
    box-sizing: border-box;
    border-radius: $tkvr-input-border-radius;
    @include tkvr-stretch-with-padding(-4em);
  }
  .input{
    @include tkvr-stretch-with-padding($tkvr-input-indicator-size-enabled/2);
  }

  .indicator{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $tkvr-light;
    border-radius: 50%;
    @include tkvr-shadow;
    @include tkvr-indicator-transition;
    @include tkvr-hardware-acc;
  }

  .enabled{
    .indicator{
        background-color: $tkvr-enabled;
      @include tkvr-indicator-size($tkvr-input-indicator-size-enabled);
      @include tkvr-indicator-occupied-transition;
    }
  }
//  .disabled{
//    .indicator{
//      background-color: $tkvr-disabled;
//      @include tkvr-indicator-size($tkvr-input-indicator-size-disabled);
//      @include tkvr-indicator-occupied-transition;
//    }
//  }
  .occupied, .disabled{
    .indicator{
      background-color: $tkvr-light;
      @include tkvr-indicator-size($tkvr-input-indicator-size-disabled);
      @include tkvr-indicator-occupied-transition;
    }
  }
  .active {
    .indicator{
      background-color: $tkvr-highlight;
      @include tkvr-indicator-size($tkvr-input-indicator-size-active);
      @include tkvr-shadow-active;
      @include tkvr-indicator-transition; // override the foreign transition
      z-index: 100;
    }
  }
}