.input-container{
  position: absolute;
}

.input{
  @include tkvr-stretch-full;
  cursor: crosshair;
//  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .label{
    display: none;

    position: absolute;
    bottom: 90%;
    left: 20%;

    background-color: $tkvr-light;
    padding: 2em;
    @include tkvr-shadow;

    .text {
      color: $tkvr-dark;
      font-size: $tkvr-font-size-mid;
      text-align: center;
    }

    &:before {
      $tkvr-label-pin-size: 1em;
      content: '';
      height: 0;
      width: 0;
      border-width: 4em;
      border-style: solid;
      border-color: $tkvr-light transparent transparent transparent;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }



  &.enabled{
//    border-color: $tkvr-enabled;
  }
  &.disabled{
//    border-color: $tkvr-disabled;
    cursor: default;
    opacity: 0.3;
  }
  &.occupied{
    //    border-color: $tkvr-highlight;
  }
  &.active{
//    border-color: $tkvr-highlight;
    .label{
      display: block;
    }
  }

}


// import all the modules here
@import "module_button";
@import "module_slider";
@import "module_xy-pad";