#tkvr-view{

  &.portrait{
    font-size: 1vw;
  }

  &.landscape{
    font-size: 1vh;
//    transform: rotate(90deg); //nice try...
  }

  header{
    position: absolute;
    left: 0;
    bottom: 0;

//    font-size: $tkvr-font-size;
//    line-height: $tkvr-line-height;
//    color: $tkvr-background-clr;
//    background-color: $tkvr-foreground-clr;
  }

  &.portrait header{
    height: $tkvr-header-size;
    right: 0;
  }
  &.landscape header{
    top: 0;
    width: $tkvr-header-size;
  }


  .view-module{
    position: absolute;
    top: $tkvr-control-container-padding;
    right: $tkvr-control-container-padding;

    font-size: 0.9em; //90%

    //TODO: hardware acc?
  }

  &.portrait .view-module{
    left: $tkvr-control-container-padding;
    bottom: $tkvr-header-size;
  }
  &.landscape .view-module{
    left: $tkvr-header-size;
    bottom: $tkvr-control-container-padding;
  }
}

@import "module"; //imports all modules