#tkvr-view{

  &.portrait{
    font-size: 1vw;
  }

  &.landscape{
    font-size: 1vh;
  }

  header{
    position: absolute;
    left: 0;
    bottom: 0;

    .back{
      text-decoration: none;
      display: block;
      position: absolute;
      left: 1em;
      bottom: 1em;
      width: $tkvr-input-indicator-size-enabled;
      height: $tkvr-input-indicator-size-enabled;
      border-radius: 50%;
      color: $tkvr-dark;
      background-color: $tkvr-highlight;
      @include tkvr-shadow;
      @include tkvr-indicator-transition;
    }
  }

  &.portrait header{
    height: $tkvr-header-size;
    right: 0;
  }
  &.landscape header{
    top: 0;
    width: $tkvr-header-size;
  }


  .view-module{
    position: absolute;
    top: $tkvr-control-container-padding;
    right: $tkvr-control-container-padding;

    font-size: 0.9em; //90%

    //TODO: hardware acc?
  }

  &.portrait .view-module{
    left: $tkvr-control-container-padding;
    bottom: $tkvr-header-size;
  }
  &.landscape .view-module{
    left: $tkvr-header-size;
    bottom: $tkvr-control-container-padding;
  }
}

@import "module"; //imports all modules