#tkvr-view{

  font-size: 1vw;

  &.portrait{
    font-size: 1vw;
  }

  &.landscape{
    font-size: 1vh;
//    transform: rotate(90deg); //nice try...
  }

  header{
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: $tkvr-font-size;
    line-height: $tkvr-line-height;
//    color: $tkvr-background-clr;
//    background-color: $tkvr-foreground-clr;
  }

  &.portrait header{
//    bottom: 0;
  }
  &.landscape header{
//    bottom: 0;
  }


  .view-module{
    position: absolute;
    top: 10em;
    left: 10em;
    right: 10em;
//    bottom: 10em; //landscape
    font-size: 0.9em; //90%
    //      bottom: 0;
    //
    //  -webkit-transform: translate3d(0,0,0);
    //  -moz-transform: translate3d(0,0,0);
    //  -ms-transform: translate3d(0,0,0);
    //  -o-transform: translate3d(0,0,0);
    //  transform: translate3d(0,0,0);
    //
    //  backface-visibility: hidden;
    //  perspective: 1000;
  }
}

@import "module"; //imports all modules