$light-color: aliceblue;
$dark-color: darkblue;
$highlight-color: #09ceff;

html{
  font-size: 100%;
}

body{
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  background-color: $light-color;
  color: $dark-color;
}

.h1, .h2, .h3, .h4, .h5{
  /*display: inline-block;*/
  background-color: $light-color;
  color: $dark-color;
  padding: 0.5em;
}

.h1{
  font-size: 2em;
}
.h2{
  font-size: 1.6em;
}
.h3{
  font-size: 1.4em;
}
.h4{
  font-size: 1.2em;
}
.h5{
  font-size: 1em;
}

a{
  color: $light-color;

  &:hover{
    color: $highlight-color;
  }
}

img{
  width: 100%;
  border: 2px solid $light-color;
  background-color: $light-color;
}

body > section{
  max-width: 50%;
  min-width: 600px;
  margin: 0 auto;
}


.source-ctn{

  margin-bottom: 2em;
  line-height: 120%;

  .name{
    font-weight: bold;
    background-color: $light-color;
    color: $dark-color;
    padding: 0.1em;
  }
  .source{

  }
  .date{
    font-style: italic;
  }
  .description{
    display: block;
    margin-left: 1em;
  }

}